.icon-blank{background:url('icons/blank.gif') no-repeat center center;}
.icon-add{background:url('icons/edit_add.png') no-repeat center center;}
.icon-edit{background:url('icons/pencil.png') no-repeat center center;}
.icon-clear{background:url('icons/clear.png') no-repeat center center;}
.icon-remove{background:url('icons/edit_remove.png') no-repeat center center;}
.icon-save{background:url('icons/filesave.png') no-repeat center center;}
.icon-ok{background:url('icons/ok.png') no-repeat center center;}
.icon-no{background:url('icons/no.png') no-repeat center center;}
.icon-cancel{background:url('icons/cancel.png') no-repeat center center;}
.icon-reload{background:url('icons/reload.png') no-repeat center center;}
.icon-search{background:url('icons/search.png') no-repeat center center;}
.icon-print{background:url('icons/print.png') no-repeat center center;}
.icon-help{background:url('icons/help.png') no-repeat center center;}
.icon-undo{background:url('icons/undo.png') no-repeat center center;}
.icon-redo{background:url('icons/redo.png') no-repeat center center;}
.icon-back{background:url('icons/back.png') no-repeat center center;}
.icon-sum{background:url('icons/sum.png') no-repeat center center;}
.icon-tip{background:url('icons/tip.png') no-repeat center center;}
.icon-filter{background:url('icons/filter.png') no-repeat center center;}
.icon-man{background:url('icons/man.png') no-repeat center center;}
.icon-more{background:url('icons/more.png') no-repeat center center;}
.icon-set{background:url('icons/set.png') no-repeat center center;}
.icon-refresh{background:url('icons/arrow_refresh.png') no-repeat center center;}
.icon-sort{background:url('icons/sort_number.png') no-repeat center center;}
.icon-repair{background:url('icons/wrench.png') no-repeat center center;}
.icon-folder-search{background:url('icons/folder_search.png') no-repeat center center;}
.icon-user-config{background:url('icons/user_config.png') no-repeat center center;}
.icon-recover-deleted-items{background:url('icons/recover_deleted_items.png') no-repeat center center;}
.icon-mini-add{background:url('icons/mini-append.png') no-repeat center center;}
.icon-mini-edit{background:url('icons/mini-pencil.png') no-repeat center center;}
.icon-mini-refresh{background:url('icons/mini-reload.png') no-repeat center center;}
.icon-large-picture{background:url('icons/large_picture.png') no-repeat center center;}
.icon-large-clipart{background:url('icons/large_clipart.png') no-repeat center center;}
.icon-large-shapes{background:url('icons/large_shapes.png') no-repeat center center;}
.icon-large-smartart{background:url('icons/large_smartart.png') no-repeat center center;}
.icon-large-chart{background:url('icons/large_chart.png') no-repeat center center;}
.icon-accept{background:url('icons/accept.png') no-repeat center center;}
.icon-anchor{background:url('icons/anchor.png') no-repeat center center;}
.icon-application-add{background:url('icons/application-add.png') no-repeat center center;}
.icon-application-cascade{background:url('icons/application-cascade.png') no-repeat center center;}
.icon-application-delete{background:url('icons/application-delete.png') no-repeat center center;}
.icon-application-double{background:url('icons/application-double.png') no-repeat center center;}
.icon-application-edit{background:url('icons/application-edit.png') no-repeat center center;}
.icon-application-error{background:url('icons/application-error.png') no-repeat center center;}
.icon-application-form-add{background:url('icons/application-form-add.png') no-repeat center center;}
.icon-application-form-delete{background:url('icons/application-form-delete.png') no-repeat center center;}
.icon-application-form-edit{background:url('icons/application-form-edit.png') no-repeat center center;}
.icon-application-form-magnify{background:url('icons/application-form-magnify.png') no-repeat center center;}
.icon-application-form{background:url('icons/application-form.png') no-repeat center center;}
.icon-application-get{background:url('icons/application-get.png') no-repeat center center;}
.icon-application-go{background:url('icons/application-go.png') no-repeat center center;}
.icon-application-home{background:url('icons/application-home.png') no-repeat center center;}
.icon-application-key{background:url('icons/application-key.png') no-repeat center center;}
.icon-application-lightning{background:url('icons/application-lightning.png') no-repeat center center;}
.icon-application-link{background:url('icons/application-link.png') no-repeat center center;}
.icon-application-osx-terminal{background:url('icons/application-osx-terminal.png') no-repeat center center;}
.icon-application-osx{background:url('icons/application-osx.png') no-repeat center center;}
.icon-application-put{background:url('icons/application-put.png') no-repeat center center;}
.icon-application-side-boxes{background:url('icons/application-side-boxes.png') no-repeat center center;}
.icon-application-side-contract{background:url('icons/application-side-contract.png') no-repeat center center;}
.icon-application-side-expand{background:url('icons/application-side-expand.png') no-repeat center center;}
.icon-application-side-list{background:url('icons/application-side-list.png') no-repeat center center;}
.icon-application-side-tree{background:url('icons/application-side-tree.png') no-repeat center center;}
.icon-application-split{background:url('icons/application-split.png') no-repeat center center;}
.icon-application-tile-horizontal{background:url('icons/application-tile-horizontal.png') no-repeat center center;}
.icon-application-tile-vertical{background:url('icons/application-tile-vertical.png') no-repeat center center;}
.icon-application-view-columns{background:url('icons/application-view-columns.png') no-repeat center center;}
.icon-application-view-detail{background:url('icons/application-view-detail.png') no-repeat center center;}
.icon-application-view-gallery{background:url('icons/application-view-gallery.png') no-repeat center center;}
.icon-application-view-icons{background:url('icons/application-view-icons.png') no-repeat center center;}
.icon-application-view-list{background:url('icons/application-view-list.png') no-repeat center center;}
.icon-application-view-tile{background:url('icons/application-view-tile.png') no-repeat center center;}
.icon-application-xp-terminal{background:url('icons/application-xp-terminal.png') no-repeat center center;}
.icon-application-xp{background:url('icons/application-xp.png') no-repeat center center;}
.icon-application{background:url('icons/application.png') no-repeat center center;}
.icon-arrow-branch{background:url('icons/arrow-branch.png') no-repeat center center;}
.icon-arrow-divide{background:url('icons/arrow-divide.png') no-repeat center center;}
.icon-arrow-down{background:url('icons/arrow-down.png') no-repeat center center;}
.icon-arrow-in{background:url('icons/arrow-in.png') no-repeat center center;}
.icon-arrow-inout{background:url('icons/arrow-inout.png') no-repeat center center;}
.icon-arrow-join{background:url('icons/arrow-join.png') no-repeat center center;}
.icon-arrow-left{background:url('icons/arrow-left.png') no-repeat center center;}
.icon-arrow-merge{background:url('icons/arrow-merge.png') no-repeat center center;}
.icon-arrow-out{background:url('icons/arrow-out.png') no-repeat center center;}
.icon-arrow-redo{background:url('icons/arrow-redo.png') no-repeat center center;}
.icon-arrow-refresh-small{background:url('icons/arrow-refresh-small.png') no-repeat center center;}
.icon-arrow-refresh{background:url('icons/arrow-refresh.png') no-repeat center center;}
.icon-arrow-right{background:url('icons/arrow-right.png') no-repeat center center;}
.icon-arrow-rotate-anticlockwise{background:url('icons/arrow-rotate-anticlockwise.png') no-repeat center center;}
.icon-arrow-rotate-clockwise{background:url('icons/arrow-rotate-clockwise.png') no-repeat center center;}
.icon-arrow-switch{background:url('icons/arrow-switch.png') no-repeat center center;}
.icon-arrow-turn-left{background:url('icons/arrow-turn-left.png') no-repeat center center;}
.icon-arrow-turn-right{background:url('icons/arrow-turn-right.png') no-repeat center center;}
.icon-arrow-undo{background:url('icons/arrow-undo.png') no-repeat center center;}
.icon-arrow-up{background:url('icons/arrow-up.png') no-repeat center center;}
.icon-asterisk-orange{background:url('icons/asterisk-orange.png') no-repeat center center;}
.icon-asterisk-yellow{background:url('icons/asterisk-yellow.png') no-repeat center center;}
.icon-attach{background:url('icons/attach.png') no-repeat center center;}
.icon-award-star-add{background:url('icons/award-star-add.png') no-repeat center center;}
.icon-award-star-bronze-1{background:url('icons/award-star-bronze-1.png') no-repeat center center;}
.icon-award-star-bronze-2{background:url('icons/award-star-bronze-2.png') no-repeat center center;}
.icon-award-star-bronze-3{background:url('icons/award-star-bronze-3.png') no-repeat center center;}
.icon-award-star-delete{background:url('icons/award-star-delete.png') no-repeat center center;}
.icon-award-star-gold-1{background:url('icons/award-star-gold-1.png') no-repeat center center;}
.icon-award-star-gold-2{background:url('icons/award-star-gold-2.png') no-repeat center center;}
.icon-award-star-gold-3{background:url('icons/award-star-gold-3.png') no-repeat center center;}
.icon-award-star-silver-1{background:url('icons/award-star-silver-1.png') no-repeat center center;}
.icon-award-star-silver-2{background:url('icons/award-star-silver-2.png') no-repeat center center;}
.icon-award-star-silver-3{background:url('icons/award-star-silver-3.png') no-repeat center center;}
.icon-basket{background:url('icons/basket.png') no-repeat center center;}
.icon-bell{background:url('icons/bell.png') no-repeat center center;}
.icon-bin-closed{background:url('icons/bin-closed.png') no-repeat center center;}
.icon-bin-empty{background:url('icons/bin-empty.png') no-repeat center center;}
.icon-bin{background:url('icons/bin.png') no-repeat center center;}
.icon-bomb{background:url('icons/bomb.png') no-repeat center center;}
.icon-book{background:url('icons/book.png') no-repeat center center;}
.icon-box{background:url('icons/box.png') no-repeat center center;}
.icon-brick{background:url('icons/brick.png') no-repeat center center;}
.icon-bricks{background:url('icons/bricks.png') no-repeat center center;}
.icon-briefcase{background:url('icons/briefcase.png') no-repeat center center;}
.icon-bug{background:url('icons/bug.png') no-repeat center center;}
.icon-building{background:url('icons/building.png') no-repeat center center;}
.icon-cake{background:url('icons/cake.png') no-repeat center center;}
.icon-calculator{background:url('icons/calculator.png') no-repeat center center;}
.icon-calendar{background:url('icons/calendar.png') no-repeat center center;}
.icon-camera{background:url('icons/camera.png') no-repeat center center;}
.icon-car{background:url('icons/car.png') no-repeat center center;}
.icon-cart{background:url('icons/cart.png') no-repeat center center;}
.icon-cd{background:url('icons/cd.png') no-repeat center center;}
.icon-chart-bar{background:url('icons/chart-bar.png') no-repeat center center;}
.icon-chart-curve{background:url('icons/chart-curve.png') no-repeat center center;}
.icon-chart-line{background:url('icons/chart-line.png') no-repeat center center;}
.icon-chart-organisation{background:url('icons/chart-organisation.png') no-repeat center center;}
.icon-chart-pie{background:url('icons/chart-pie.png') no-repeat center center;}
.icon-clock{background:url('icons/clock.png') no-repeat center center;}
.icon-cog{background:url('icons/cog.png') no-repeat center center;}
.icon-coins{background:url('icons/coins.png') no-repeat center center;}
.icon-color-swatch{background:url('icons/color-swatch.png') no-repeat center center;}
.icon-color-wheel{background:url('icons/color-wheel.png') no-repeat center center;}
.icon-comments{background:url('icons/comments.png') no-repeat center center;}
.icon-compress{background:url('icons/compress.png') no-repeat center center;}
.icon-computer{background:url('icons/computer.png') no-repeat center center;}
.icon-connect{background:url('icons/connect.png') no-repeat center center;}
.icon-contrast{background:url('icons/contrast.png') no-repeat center center;}
.icon-control-eject-blue{background:url('icons/control-eject-blue.png') no-repeat center center;}
.icon-control-eject{background:url('icons/control-eject.png') no-repeat center center;}
.icon-control-end-blue{background:url('icons/control-end-blue.png') no-repeat center center;}
.icon-control-end{background:url('icons/control-end.png') no-repeat center center;}
.icon-control-equalizer-blue{background:url('icons/control-equalizer-blue.png') no-repeat center center;}
.icon-control-equalizer{background:url('icons/control-equalizer.png') no-repeat center center;}
.icon-control-fastforward-blue{background:url('icons/control-fastforward-blue.png') no-repeat center center;}
.icon-control-fastforward{background:url('icons/control-fastforward.png') no-repeat center center;}
.icon-control-pause-blue{background:url('icons/control-pause-blue.png') no-repeat center center;}
.icon-control-pause{background:url('icons/control-pause.png') no-repeat center center;}
.icon-control-play-blue{background:url('icons/control-play-blue.png') no-repeat center center;}
.icon-control-play{background:url('icons/control-play.png') no-repeat center center;}
.icon-control-repeat-blue{background:url('icons/control-repeat-blue.png') no-repeat center center;}
.icon-control-repeat{background:url('icons/control-repeat.png') no-repeat center center;}
.icon-control-rewind-blue{background:url('icons/control-rewind-blue.png') no-repeat center center;}
.icon-control-rewind{background:url('icons/control-rewind.png') no-repeat center center;}
.icon-control-start-blue{background:url('icons/control-start-blue.png') no-repeat center center;}
.icon-control-start{background:url('icons/control-start.png') no-repeat center center;}
.icon-control-stop-blue{background:url('icons/control-stop-blue.png') no-repeat center center;}
.icon-control-stop{background:url('icons/control-stop.png') no-repeat center center;}
.icon-controller{background:url('icons/controller.png') no-repeat center center;}
.icon-creditcards{background:url('icons/creditcards.png') no-repeat center center;}
.icon-cross{background:url('icons/cross.png') no-repeat center center;}
.icon-css{background:url('icons/css.png') no-repeat center center;}
.icon-cup{background:url('icons/cup.png') no-repeat center center;}
.icon-cursor{background:url('icons/cursor.png') no-repeat center center;}
.icon-cut-red{background:url('icons/cut-red.png') no-repeat center center;}
.icon-cut{background:url('icons/cut.png') no-repeat center center;}
.icon-database{background:url('icons/database.png') no-repeat center center;}
.icon-date-next{background:url('icons/date-next.png') no-repeat center center;}
.icon-date-previous{background:url('icons/date-previous.png') no-repeat center center;}
.icon-date{background:url('icons/date.png') no-repeat center center;}
.icon-delete{background:url('icons/delete.png') no-repeat center center;}
.icon-disconnect{background:url('icons/disconnect.png') no-repeat center center;}
.icon-disk-multiple{background:url('icons/disk-multiple.png') no-repeat center center;}
.icon-disk{background:url('icons/disk.png') no-repeat center center;}
.icon-door-in{background:url('icons/door-in.png') no-repeat center center;}
.icon-door-open{background:url('icons/door-open.png') no-repeat center center;}
.icon-door-out{background:url('icons/door-out.png') no-repeat center center;}
.icon-door{background:url('icons/door.png') no-repeat center center;}
.icon-drink-empty{background:url('icons/drink-empty.png') no-repeat center center;}
.icon-drink{background:url('icons/drink.png') no-repeat center center;}
.icon-drive{background:url('icons/drive.png') no-repeat center center;}
.icon-dvd{background:url('icons/dvd.png') no-repeat center center;}
.icon-email-attach{background:url('icons/email-attach.png') no-repeat center center;}
.icon-email-open-image{background:url('icons/email-open-image.png') no-repeat center center;}
.icon-email-open{background:url('icons/email-open.png') no-repeat center center;}
.icon-email{background:url('icons/email.png') no-repeat center center;}
.icon-emoticon-evilgrin{background:url('icons/emoticon-evilgrin.png') no-repeat center center;}
.icon-emoticon-grin{background:url('icons/emoticon-grin.png') no-repeat center center;}
.icon-emoticon-happy{background:url('icons/emoticon-happy.png') no-repeat center center;}
.icon-emoticon-smile{background:url('icons/emoticon-smile.png') no-repeat center center;}
.icon-emoticon-surprised{background:url('icons/emoticon-surprised.png') no-repeat center center;}
.icon-emoticon-tongue{background:url('icons/emoticon-tongue.png') no-repeat center center;}
.icon-emoticon-unhappy{background:url('icons/emoticon-unhappy.png') no-repeat center center;}
.icon-emoticon-waii{background:url('icons/emoticon-waii.png') no-repeat center center;}
.icon-emoticon-wink{background:url('icons/emoticon-wink.png') no-repeat center center;}
.icon-error{background:url('icons/error.png') no-repeat center center;}
.icon-exclamation{background:url('icons/exclamation.png') no-repeat center center;}
.icon-eye{background:url('icons/eye.png') no-repeat center center;}
.icon-feed{background:url('icons/feed.png') no-repeat center center;}
.icon-female{background:url('icons/female.png') no-repeat center center;}
.icon-film{background:url('icons/film.png') no-repeat center center;}
.icon-find{background:url('icons/find.png') no-repeat center center;}
.icon-flag-blue{background:url('icons/flag-blue.png') no-repeat center center;}
.icon-flag-green{background:url('icons/flag-green.png') no-repeat center center;}
.icon-flag-orange{background:url('icons/flag-orange.png') no-repeat center center;}
.icon-flag-pink{background:url('icons/flag-pink.png') no-repeat center center;}
.icon-flag-purple{background:url('icons/flag-purple.png') no-repeat center center;}
.icon-flag-red{background:url('icons/flag-red.png') no-repeat center center;}
.icon-flag-yellow{background:url('icons/flag-yellow.png') no-repeat center center;}
.icon-folder{background:url('icons/folder.png') no-repeat center center;}
.icon-font{background:url('icons/font.png') no-repeat center center;}
.icon-group{background:url('icons/group.png') no-repeat center center;}
.icon-heart{background:url('icons/heart.png') no-repeat center center;}
.icon-hourglass{background:url('icons/hourglass.png') no-repeat center center;}
.icon-house{background:url('icons/house.png') no-repeat center center;}
.icon-html{background:url('icons/html.png') no-repeat center center;}
.icon-image{background:url('icons/image.png') no-repeat center center;}
.icon-images{background:url('icons/images.png') no-repeat center center;}
.icon-information{background:url('icons/information.png') no-repeat center center;}
.icon-ipod{background:url('icons/ipod.png') no-repeat center center;}
.icon-joystick{background:url('icons/joystick.png') no-repeat center center;}
.icon-key{background:url('icons/key.png') no-repeat center center;}
.icon-keyboard{background:url('icons/keyboard.png') no-repeat center center;}
.icon-layers{background:url('icons/layers.png') no-repeat center center;}
.icon-layout{background:url('icons/layout.png') no-repeat center center;}
.icon-lightning{background:url('icons/lightning.png') no-repeat center center;}
.icon-link{background:url('icons/link.png') no-repeat center center;}
.icon-lock-break{background:url('icons/lock-break.png') no-repeat center center;}
.icon-lock-go{background:url('icons/lock-go.png') no-repeat center center;}
.icon-lock-open{background:url('icons/lock-open.png') no-repeat center center;}
.icon-lock{background:url('icons/lock.png') no-repeat center center;}
.icon-lorry{background:url('icons/lorry.png') no-repeat center center;}
.icon-magifier-zoom-out{background:url('icons/magifier-zoom-out.png') no-repeat center center;}
.icon-magnifier-zoom-in{background:url('icons/magnifier-zoom-in.png') no-repeat center center;}
.icon-magnifier{background:url('icons/magnifier.png') no-repeat center center;}
.icon-male{background:url('icons/male.png') no-repeat center center;}
.icon-map{background:url('icons/map.png') no-repeat center center;}
.icon-medal-bronze-1{background:url('icons/medal-bronze-1.png') no-repeat center center;}
.icon-medal-bronze-2{background:url('icons/medal-bronze-2.png') no-repeat center center;}
.icon-medal-bronze-3{background:url('icons/medal-bronze-3.png') no-repeat center center;}
.icon-medal-bronze-add{background:url('icons/medal-bronze-add.png') no-repeat center center;}
.icon-medal-bronze-delete{background:url('icons/medal-bronze-delete.png') no-repeat center center;}
.icon-medal-gold-1{background:url('icons/medal-gold-1.png') no-repeat center center;}
.icon-medal-gold-2{background:url('icons/medal-gold-2.png') no-repeat center center;}
.icon-medal-gold-3{background:url('icons/medal-gold-3.png') no-repeat center center;}
.icon-medal-gold-add{background:url('icons/medal-gold-add.png') no-repeat center center;}
.icon-medal-gold-delete{background:url('icons/medal-gold-delete.png') no-repeat center center;}
.icon-medal-silver-1{background:url('icons/medal-silver-1.png') no-repeat center center;}
.icon-medal-silver-2{background:url('icons/medal-silver-2.png') no-repeat center center;}
.icon-medal-silver-3{background:url('icons/medal-silver-3.png') no-repeat center center;}
.icon-medal-silver-add{background:url('icons/medal-silver-add.png') no-repeat center center;}
.icon-medal-silver-delete{background:url('icons/medal-silver-delete.png') no-repeat center center;}
.icon-money-dollar{background:url('icons/money-dollar.png') no-repeat center center;}
.icon-money-euro{background:url('icons/money-euro.png') no-repeat center center;}
.icon-money-pound{background:url('icons/money-pound.png') no-repeat center center;}
.icon-money-yen{background:url('icons/money-yen.png') no-repeat center center;}
.icon-money{background:url('icons/money.png') no-repeat center center;}
.icon-monitor{background:url('icons/monitor.png') no-repeat center center;}
.icon-mouse{background:url('icons/mouse.png') no-repeat center center;}
.icon-music{background:url('icons/music.png') no-repeat center center;}
.icon-new{background:url('icons/new.png') no-repeat center center;}
.icon-newspaper{background:url('icons/newspaper.png') no-repeat center center;}
.icon-note{background:url('icons/note.png') no-repeat center center;}
.icon-overlays{background:url('icons/overlays.png') no-repeat center center;}
.icon-package{background:url('icons/package.png') no-repeat center center;}
.icon-page-attach{background:url('icons/page-attach.png') no-repeat center center;}
.icon-page-code{background:url('icons/page-code.png') no-repeat center center;}
.icon-page-copy{background:url('icons/page-copy.png') no-repeat center center;}
.icon-page-error{background:url('icons/page-error.png') no-repeat center center;}
.icon-page-excel{background:url('icons/page-excel.png') no-repeat center center;}
.icon-page-find{background:url('icons/page-find.png') no-repeat center center;}
.icon-page-gear{background:url('icons/page-gear.png') no-repeat center center;}
.icon-page-go{background:url('icons/page-go.png') no-repeat center center;}
.icon-page-green{background:url('icons/page-green.png') no-repeat center center;}
.icon-page-key{background:url('icons/page-key.png') no-repeat center center;}
.icon-page-lightning{background:url('icons/page-lightning.png') no-repeat center center;}
.icon-page-link{background:url('icons/page-link.png') no-repeat center center;}
.icon-page-paintbrush{background:url('icons/page-paintbrush.png') no-repeat center center;}
.icon-page-paste{background:url('icons/page-paste.png') no-repeat center center;}
.icon-page-red{background:url('icons/page-red.png') no-repeat center center;}
.icon-page-refresh{background:url('icons/page-refresh.png') no-repeat center center;}
.icon-page-save{background:url('icons/page-save.png') no-repeat center center;}
.icon-page-white-acrobat{background:url('icons/page-white-acrobat.png') no-repeat center center;}
.icon-page-white-actionscript{background:url('icons/page-white-actionscript.png') no-repeat center center;}
.icon-page-white-c{background:url('icons/page-white-c.png') no-repeat center center;}
.icon-page-white-camera{background:url('icons/page-white-camera.png') no-repeat center center;}
.icon-page-white-cd{background:url('icons/page-white-cd.png') no-repeat center center;}
.icon-page-white-code-red{background:url('icons/page-white-code-red.png') no-repeat center center;}
.icon-page-white-code{background:url('icons/page-white-code.png') no-repeat center center;}
.icon-page-white-coldfusion{background:url('icons/page-white-coldfusion.png') no-repeat center center;}
.icon-page-white-compressed{background:url('icons/page-white-compressed.png') no-repeat center center;}
.icon-page-white-copy{background:url('icons/page-white-copy.png') no-repeat center center;}
.icon-page-white-cplusplus{background:url('icons/page-white-cplusplus.png') no-repeat center center;}
.icon-page-white-csharp{background:url('icons/page-white-csharp.png') no-repeat center center;}
.icon-page-white-cup{background:url('icons/page-white-cup.png') no-repeat center center;}
.icon-page-white-database{background:url('icons/page-white-database.png') no-repeat center center;}
.icon-page-white-delete{background:url('icons/page-white-delete.png') no-repeat center center;}
.icon-page-white-dvd{background:url('icons/page-white-dvd.png') no-repeat center center;}
.icon-page-white-edit{background:url('icons/page-white-edit.png') no-repeat center center;}
.icon-page-white-error{background:url('icons/page-white-error.png') no-repeat center center;}
.icon-page-white-excel{background:url('icons/page-white-excel.png') no-repeat center center;}
.icon-page-white-find{background:url('icons/page-white-find.png') no-repeat center center;}
.icon-page-white-flash{background:url('icons/page-white-flash.png') no-repeat center center;}
.icon-page-white-freehand{background:url('icons/page-white-freehand.png') no-repeat center center;}
.icon-page-white-gear{background:url('icons/page-white-gear.png') no-repeat center center;}
.icon-page-white-get{background:url('icons/page-white-get.png') no-repeat center center;}
.icon-page-white-go{background:url('icons/page-white-go.png') no-repeat center center;}
.icon-page-white-h{background:url('icons/page-white-h.png') no-repeat center center;}
.icon-page-white-horizontal{background:url('icons/page-white-horizontal.png') no-repeat center center;}
.icon-page-white-key{background:url('icons/page-white-key.png') no-repeat center center;}
.icon-page-white-lightning{background:url('icons/page-white-lightning.png') no-repeat center center;}
.icon-page-white-link{background:url('icons/page-white-link.png') no-repeat center center;}
.icon-page-white-magnify{background:url('icons/page-white-magnify.png') no-repeat center center;}
.icon-page-white-medal{background:url('icons/page-white-medal.png') no-repeat center center;}
.icon-page-white-office{background:url('icons/page-white-office.png') no-repeat center center;}
.icon-page-white-paint{background:url('icons/page-white-paint.png') no-repeat center center;}
.icon-page-white-paintbrush{background:url('icons/page-white-paintbrush.png') no-repeat center center;}
.icon-page-white-paste{background:url('icons/page-white-paste.png') no-repeat center center;}
.icon-page-white-php{background:url('icons/page-white-php.png') no-repeat center center;}
.icon-page-white-picture{background:url('icons/page-white-picture.png') no-repeat center center;}
.icon-page-white-powerpoint{background:url('icons/page-white-powerpoint.png') no-repeat center center;}
.icon-page-white-put{background:url('icons/page-white-put.png') no-repeat center center;}
.icon-page-white-ruby{background:url('icons/page-white-ruby.png') no-repeat center center;}
.icon-page-white-stack{background:url('icons/page-white-stack.png') no-repeat center center;}
.icon-page-white-star{background:url('icons/page-white-star.png') no-repeat center center;}
.icon-page-white-swoosh{background:url('icons/page-white-swoosh.png') no-repeat center center;}
.icon-page-white-text-width{background:url('icons/page-white-text-width.png') no-repeat center center;}
.icon-page-white-text{background:url('icons/page-white-text.png') no-repeat center center;}
.icon-page-white-tux{background:url('icons/page-white-tux.png') no-repeat center center;}
.icon-page-white-vector{background:url('icons/page-white-vector.png') no-repeat center center;}
.icon-page-white-visualstudio{background:url('icons/page-white-visualstudio.png') no-repeat center center;}
.icon-page-white-width{background:url('icons/page-white-width.png') no-repeat center center;}
.icon-page-white-word{background:url('icons/page-white-word.png') no-repeat center center;}
.icon-page-white-world{background:url('icons/page-white-world.png') no-repeat center center;}
.icon-page-white-wrench{background:url('icons/page-white-wrench.png') no-repeat center center;}
.icon-page-white-zip{background:url('icons/page-white-zip.png') no-repeat center center;}
.icon-page-white{background:url('icons/page-white.png') no-repeat center center;}
.icon-page-word{background:url('icons/page-word.png') no-repeat center center;}
.icon-page-world{background:url('icons/page-world.png') no-repeat center center;}
.icon-page{background:url('icons/page.png') no-repeat center center;}
.icon-paintbrush{background:url('icons/paintbrush.png') no-repeat center center;}
.icon-paintcan{background:url('icons/paintcan.png') no-repeat center center;}
.icon-palette{background:url('icons/palette.png') no-repeat center center;}
.icon-paste-plain{background:url('icons/paste-plain.png') no-repeat center center;}
.icon-paste-word{background:url('icons/paste-word.png') no-repeat center center;}
.icon-phone{background:url('icons/phone.png') no-repeat center center;}
.icon-photo{background:url('icons/photo.png') no-repeat center center;}
.icon-photos{background:url('icons/photos.png') no-repeat center center;}
.icon-picture{background:url('icons/picture.png') no-repeat center center;}
.icon-pictures{background:url('icons/pictures.png') no-repeat center center;}
.icon-pilcrow{background:url('icons/pilcrow.png') no-repeat center center;}
.icon-pill{background:url('icons/pill.png') no-repeat center center;}
.icon-plugin{background:url('icons/plugin.png') no-repeat center center;}
.icon-printer{background:url('icons/printer.png') no-repeat center center;}
.icon-rainbow{background:url('icons/rainbow.png') no-repeat center center;}
.icon-report{background:url('icons/report.png') no-repeat center center;}
.icon-resultset-first{background:url('icons/resultset-first.png') no-repeat center center;}
.icon-resultset-last{background:url('icons/resultset-last.png') no-repeat center center;}
.icon-resultset-next{background:url('icons/resultset-next.png') no-repeat center center;}
.icon-resultset-previous{background:url('icons/resultset-previous.png') no-repeat center center;}
.icon-rosette{background:url('icons/rosette.png') no-repeat center center;}
.icon-rss{background:url('icons/rss.png') no-repeat center center;}
.icon-ruby-add{background:url('icons/ruby-add.png') no-repeat center center;}
.icon-ruby-delete{background:url('icons/ruby-delete.png') no-repeat center center;}
.icon-ruby-gear{background:url('icons/ruby-gear.png') no-repeat center center;}
.icon-ruby-get{background:url('icons/ruby-get.png') no-repeat center center;}
.icon-ruby-go{background:url('icons/ruby-go.png') no-repeat center center;}
.icon-ruby-key{background:url('icons/ruby-key.png') no-repeat center center;}
.icon-ruby-link{background:url('icons/ruby-link.png') no-repeat center center;}
.icon-ruby-put{background:url('icons/ruby-put.png') no-repeat center center;}
.icon-ruby{background:url('icons/ruby.png') no-repeat center center;}
.icon-script{background:url('icons/script.png') no-repeat center center;}
.icon-server{background:url('icons/server.png') no-repeat center center;}
.icon-shading{background:url('icons/shading.png') no-repeat center center;}
.icon-shape-align-bottom{background:url('icons/shape-align-bottom.png') no-repeat center center;}
.icon-shape-align-center{background:url('icons/shape-align-center.png') no-repeat center center;}
.icon-shape-align-left{background:url('icons/shape-align-left.png') no-repeat center center;}
.icon-shape-align-middle{background:url('icons/shape-align-middle.png') no-repeat center center;}
.icon-shape-align-right{background:url('icons/shape-align-right.png') no-repeat center center;}
.icon-shape-align-top{background:url('icons/shape-align-top.png') no-repeat center center;}
.icon-shape-flip-horizontal{background:url('icons/shape-flip-horizontal.png') no-repeat center center;}
.icon-shape-flip-vertical{background:url('icons/shape-flip-vertical.png') no-repeat center center;}
.icon-shape-group{background:url('icons/shape-group.png') no-repeat center center;}
.icon-shape-handles{background:url('icons/shape-handles.png') no-repeat center center;}
.icon-shape-move-back{background:url('icons/shape-move-back.png') no-repeat center center;}
.icon-shape-move-backwards{background:url('icons/shape-move-backwards.png') no-repeat center center;}
.icon-shape-move-forwards{background:url('icons/shape-move-forwards.png') no-repeat center center;}
.icon-shape-move-front{background:url('icons/shape-move-front.png') no-repeat center center;}
.icon-shape-rotate-anticlockwise{background:url('icons/shape-rotate-anticlockwise.png') no-repeat center center;}
.icon-shape-rotate-clockwise{background:url('icons/shape-rotate-clockwise.png') no-repeat center center;}
.icon-shape-square{background:url('icons/shape-square.png') no-repeat center center;}
.icon-shape-ungroup{background:url('icons/shape-ungroup.png') no-repeat center center;}
.icon-shield{background:url('icons/shield.png') no-repeat center center;}
.icon-sitemap-color{background:url('icons/sitemap-color.png') no-repeat center center;}
.icon-sitemap{background:url('icons/sitemap.png') no-repeat center center;}
.icon-sound-low{background:url('icons/sound-low.png') no-repeat center center;}
.icon-sound-mute{background:url('icons/sound-mute.png') no-repeat center center;}
.icon-sound-none{background:url('icons/sound-none.png') no-repeat center center;}
.icon-sound{background:url('icons/sound.png') no-repeat center center;}
.icon-spellcheck{background:url('icons/spellcheck.png') no-repeat center center;}
.icon-sport-8ball{background:url('icons/sport-8ball.png') no-repeat center center;}
.icon-sport-basketball{background:url('icons/sport-basketball.png') no-repeat center center;}
.icon-sport-football{background:url('icons/sport-football.png') no-repeat center center;}
.icon-sport-golf{background:url('icons/sport-golf.png') no-repeat center center;}
.icon-sport-raquet{background:url('icons/sport-raquet.png') no-repeat center center;}
.icon-sport-shuttlecock{background:url('icons/sport-shuttlecock.png') no-repeat center center;}
.icon-sport-soccer{background:url('icons/sport-soccer.png') no-repeat center center;}
.icon-sport-tennis{background:url('icons/sport-tennis.png') no-repeat center center;}
.icon-star{background:url('icons/star.png') no-repeat center center;}
.icon-status-away{background:url('icons/status-away.png') no-repeat center center;}
.icon-status-busy{background:url('icons/status-busy.png') no-repeat center center;}
.icon-status-offline{background:url('icons/status-offline.png') no-repeat center center;}
.icon-status-online{background:url('icons/status-online.png') no-repeat center center;}
.icon-stop{background:url('icons/stop.png') no-repeat center center;}
.icon-style{background:url('icons/style.png') no-repeat center center;}
.icon-tab{background:url('icons/tab.png') no-repeat center center;}
.icon-table-error{background:url('icons/table-error.png') no-repeat center center;}
.icon-table-gear{background:url('icons/table-gear.png') no-repeat center center;}
.icon-table-go{background:url('icons/table-go.png') no-repeat center center;}
.icon-table-key{background:url('icons/table-key.png') no-repeat center center;}
.icon-table-lightning{background:url('icons/table-lightning.png') no-repeat center center;}
.icon-table-link{background:url('icons/table-link.png') no-repeat center center;}
.icon-table-multiple{background:url('icons/table-multiple.png') no-repeat center center;}
.icon-table-refresh{background:url('icons/table-refresh.png') no-repeat center center;}
.icon-table-relationship{background:url('icons/table-relationship.png') no-repeat center center;}
.icon-table-row-delete{background:url('icons/table-row-delete.png') no-repeat center center;}
.icon-table-row-insert{background:url('icons/table-row-insert.png') no-repeat center center;}
.icon-table-save{background:url('icons/table-save.png') no-repeat center center;}
.icon-table-sort{background:url('icons/table-sort.png') no-repeat center center;}
.icon-table{background:url('icons/table.png') no-repeat center center;}
.icon-tag-blue{background:url('icons/tag-blue.png') no-repeat center center;}
.icon-tag-green{background:url('icons/tag-green.png') no-repeat center center;}
.icon-tag-orange{background:url('icons/tag-orange.png') no-repeat center center;}
.icon-tag-pink{background:url('icons/tag-pink.png') no-repeat center center;}
.icon-tag-purple{background:url('icons/tag-purple.png') no-repeat center center;}
.icon-tag-red{background:url('icons/tag-red.png') no-repeat center center;}
.icon-tag-yellow{background:url('icons/tag-yellow.png') no-repeat center center;}
.icon-tag{background:url('icons/tag.png') no-repeat center center;}
.icon-telephone{background:url('icons/telephone.png') no-repeat center center;}
.icon-television{background:url('icons/television.png') no-repeat center center;}
.icon-text-align-center{background:url('icons/text-align-center.png') no-repeat center center;}
.icon-text-align-justify{background:url('icons/text-align-justify.png') no-repeat center center;}
.icon-text-align-left{background:url('icons/text-align-left.png') no-repeat center center;}
.icon-text-align-right{background:url('icons/text-align-right.png') no-repeat center center;}
.icon-text-allcaps{background:url('icons/text-allcaps.png') no-repeat center center;}
.icon-text-bold{background:url('icons/text-bold.png') no-repeat center center;}
.icon-text-columns{background:url('icons/text-columns.png') no-repeat center center;}
.icon-text-dropcaps{background:url('icons/text-dropcaps.png') no-repeat center center;}
.icon-text-heading-1{background:url('icons/text-heading-1.png') no-repeat center center;}
.icon-text-heading-2{background:url('icons/text-heading-2.png') no-repeat center center;}
.icon-text-heading-3{background:url('icons/text-heading-3.png') no-repeat center center;}
.icon-text-heading-4{background:url('icons/text-heading-4.png') no-repeat center center;}
.icon-text-heading-5{background:url('icons/text-heading-5.png') no-repeat center center;}
.icon-text-heading-6{background:url('icons/text-heading-6.png') no-repeat center center;}
.icon-text-horizontalrule{background:url('icons/text-horizontalrule.png') no-repeat center center;}
.icon-text-indent-remove{background:url('icons/text-indent-remove.png') no-repeat center center;}
.icon-text-indent{background:url('icons/text-indent.png') no-repeat center center;}
.icon-text-italic{background:url('icons/text-italic.png') no-repeat center center;}
.icon-text-kerning{background:url('icons/text-kerning.png') no-repeat center center;}
.icon-text-letter-omega{background:url('icons/text-letter-omega.png') no-repeat center center;}
.icon-text-letterspacing{background:url('icons/text-letterspacing.png') no-repeat center center;}
.icon-text-linespacing{background:url('icons/text-linespacing.png') no-repeat center center;}
.icon-text-list-bullets{background:url('icons/text-list-bullets.png') no-repeat center center;}
.icon-text-list-numbers{background:url('icons/text-list-numbers.png') no-repeat center center;}
.icon-text-lowercase{background:url('icons/text-lowercase.png') no-repeat center center;}
.icon-text-padding-bottom{background:url('icons/text-padding-bottom.png') no-repeat center center;}
.icon-text-padding-left{background:url('icons/text-padding-left.png') no-repeat center center;}
.icon-text-padding-right{background:url('icons/text-padding-right.png') no-repeat center center;}
.icon-text-padding-top{background:url('icons/text-padding-top.png') no-repeat center center;}
.icon-text-replace{background:url('icons/text-replace.png') no-repeat center center;}
.icon-text-signature{background:url('icons/text-signature.png') no-repeat center center;}
.icon-text-smallcaps{background:url('icons/text-smallcaps.png') no-repeat center center;}
.icon-text-strikethrough{background:url('icons/text-strikethrough.png') no-repeat center center;}
.icon-text-subscript{background:url('icons/text-subscript.png') no-repeat center center;}
.icon-text-superscript{background:url('icons/text-superscript.png') no-repeat center center;}
.icon-text-underline{background:url('icons/text-underline.png') no-repeat center center;}
.icon-text-uppercase{background:url('icons/text-uppercase.png') no-repeat center center;}
.icon-textfield-rename{background:url('icons/textfield-rename.png') no-repeat center center;}
.icon-textfield{background:url('icons/textfield.png') no-repeat center center;}
.icon-thumb-down{background:url('icons/thumb-down.png') no-repeat center center;}
.icon-thumb-up{background:url('icons/thumb-up.png') no-repeat center center;}
.icon-tick{background:url('icons/tick.png') no-repeat center center;}
.icon-time{background:url('icons/time.png') no-repeat center center;}
.icon-timeline-marker{background:url('icons/timeline-marker.png') no-repeat center center;}
.icon-transmit{background:url('icons/transmit.png') no-repeat center center;}
.icon-tux{background:url('icons/tux.png') no-repeat center center;}
.icon-user-comment{background:url('icons/user-comment.png') no-repeat center center;}
.icon-user-female{background:url('icons/user-female.png') no-repeat center center;}
.icon-user-go{background:url('icons/user-go.png') no-repeat center center;}
.icon-user-gray{background:url('icons/user-gray.png') no-repeat center center;}
.icon-user-green{background:url('icons/user-green.png') no-repeat center center;}
.icon-user-orange{background:url('icons/user-orange.png') no-repeat center center;}
.icon-user-red{background:url('icons/user-red.png') no-repeat center center;}
.icon-user-suit{background:url('icons/user-suit.png') no-repeat center center;}
.icon-user{background:url('icons/user.png') no-repeat center center;}
.icon-vcard{background:url('icons/vcard.png') no-repeat center center;}
.icon-vector{background:url('icons/vector.png') no-repeat center center;}
.icon-wand{background:url('icons/wand.png') no-repeat center center;}
.icon-weather-clouds{background:url('icons/weather-clouds.png') no-repeat center center;}
.icon-weather-cloudy{background:url('icons/weather-cloudy.png') no-repeat center center;}
.icon-weather-lightning{background:url('icons/weather-lightning.png') no-repeat center center;}
.icon-weather-rain{background:url('icons/weather-rain.png') no-repeat center center;}
.icon-weather-snow{background:url('icons/weather-snow.png') no-repeat center center;}
.icon-weather-sun{background:url('icons/weather-sun.png') no-repeat center center;}
.icon-webcam{background:url('icons/webcam.png') no-repeat center center;}
.icon-world{background:url('icons/world.png') no-repeat center center;}
.icon-wrench-orange{background:url('icons/wrench-orange.png') no-repeat center center;}
.icon-wrench{background:url('icons/wrench.png') no-repeat center center;}
.icon-xhtml{background:url('icons/xhtml.png') no-repeat center center;}
.icon-zoom-in{background:url('icons/zoom-in.png') no-repeat center center;}
.icon-zoom-out{background:url('icons/zoom-out.png') no-repeat center center;}
.icon-zoom{background:url('icons/zoom.png') no-repeat center center;}
.icon-hmenu-asc{background:url('icons/hmenu-asc.gif') no-repeat center center;}
.icon-hmenu-desc{background:url('icons/hmenu-desc.gif') no-repeat center center;}
.icon-up{background:url('icons/hmenu-up.png') no-repeat center center;}
.icon-down{background:url('icons/hmenu-down.png') no-repeat center center;}
.icon-folder-open{background:url('icons/folder-open.png') no-repeat center center;}
.icon-folder-close{background:url('icons/folder-close.png') no-repeat center center;}
.icon-tab-close-left{background:url('icons/tab-close-left.png') no-repeat center center;}
.icon-tab-close-right{background:url('icons/tab-close-right.png') no-repeat center center;}
.icon-import{background:url('icons/import.png') no-repeat center center;}
.icon-confirm{background:url('icons/confirm.png') no-repeat center center;}
.icon-average{background:url('icons/average.png') no-repeat center center;}
.icon-approved{background:url('icons/approved.png') no-repeat center center;}