<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
<title th:text="#{xplus.easyui}"></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link type="text/css" th:href="@{/css/base.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>

</body>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	$(function() {
		//......初始化方法

	});

	/*]]>*/
</script>
</html>